.memo {
  background-color: #61a139;
  font-size: 1em;
  text-align: center;
  color: white;
  padding: 0.25em;
}
.navBar {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
}
input {
  margin: 3em;
  margin-right: 0.5em;
  padding: 0.35em;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 0.5em;
  outline: none;
  border: none;
  background: rgba(97, 161, 57, 0.27);
  width: 30%;
}
.img {
  width: 40%;
  text-align: center;
}
.navSearch {
  display: flex;
}
.name {
  margin: auto 0;
  font-size: 1.5rem;
  position: relative;
  left: 0.5em;
  color: #2d5314;
  width: 35%;
}
.navLinks {
  display: flex;
  justify-content: center;
}
.navLinks li {
  list-style: none;
  background-color: #61a139;
  border-radius: 9999px;
  padding: 0.5em;
  width: 7em;
  text-align: center;
  margin: 0.25em 0;
  color: white;
  margin: 0.25em 2.5%;
}
.fresh {
  display: inline;
}
.downArrow {
  display: none;
}
@media (max-width: 958px) {
  .navLinks li {
    display: none;
  }
  input {
    display: none;
  }
  .name {
    width: 25%;
    font-size: 0.99rem;
  }
  .img {
    width: 25%;
  }
  .img img {
    height: 5em;
  }
  .fresh {
    display: block;
  }
  .downArrow {
    display: block;
    margin: auto;
    width: 50%;
    font-size: 1.5rem;
    color: #2d5314;
    height: 2em;
    animation-name: bounce;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  .downArrow:hover {
    cursor: pointer;
  }
  @keyframes bounce {
    1%,
    2.5%,
    4%,
    to {
      transform: translateY(0);
    }
    2% {
      transform: translateY(-30px);
    }
    3.5% {
      transform: translateY(-15px);
    }
    4.5% {
      transform: translateY(-4px);
    }
    100% {
      transform: translateY(-4px);
    }
  }
}

.dropDownMenu {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.dropDownMenu ul {
  box-shadow: 3px 3px 10px 5px #888888;
  background-color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1em;
  width: 90%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
.dropDownMenu li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.icon {
  background-color: #61a139;
  padding: 0.25em;
  border-radius: 999px;
  color: white;
  margin-right: 0.5em;
}
@media (min-width: 958px) {
  .dropDownMenu {
    display: none;
  }
  .navLinks {
    font-size: 0.9rem;
  }
}
.menuCross {
  color: grey;
  margin-left: 0.25em;
  margin-right: 2em;
  font-size: 16;
}
.menuCross:hover {
  cursor: pointer;
}
